.dropdown {
  @include mainDpProps;

  background-color: $white_1;
  z-index: 1;
  border-radius: 8px;
  border: 1px solid $gray_10;
  top: $finder-row-height + 8px;
  padding: 24px;
  overflow: hidden;

  @include on-desktop {
    top: $finder-row-height + 32px;
  }
  
  .search,
  .dp-list {
    @include inter-500-15;
  }

  .search-wrapper {
    height: 48px;
    border: 1px solid $gray_8;
    border-radius: 8px;
    padding: 16px;
    gap: 9px;

    @include flex-center-center;

    svg {
      width: 19px;
      height: 19px;
    }
    
    .search {
      border: none;
      width: 100%;
      outline: none;
    }
  }

  .dp-list {
    margin-top: 8px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 232px;
    overflow-y: auto;

    .dp-item {
      padding: 16px;
      cursor: pointer;

      &:hover {
        background-color: $gray_11;
      }
    }
  }
}

:export {
  finderPadding: $finder-padding;
}
