.header,
.first-part,
.second-part {
  display: flex;
  align-items: center;
}

.header {
  height: 80px;
  padding-inline: 16px;
  background-color: $main-white-color;

  @include on-tablet {
    padding-inline: 24px;
  }

  justify-content: space-between;
}
