.header,
.first-part,
.second-part {
  display: flex;
  align-items: center;
}

.header {
  height: 197px;
  padding-inline: 64px;
  justify-content: space-between;

  .first-part {
    gap: 40px;
  }

  .second-part {
    gap: 8px;
  }
}
