.dropdown {
  box-sizing: border-box;
  position: absolute;
  top: $signin-height + 16px;
  left: ($dropdown-width - $signin-width) * -1;
  width: $dropdown-width;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid $border-bg-color;
  overflow: hidden;

  .list {
    padding: 0;
    margin: 0;
    background-color: #fff;

    .item {
      cursor: pointer;
      box-sizing: border-box;
      list-style: none;
      height: 51px;
      display: flex;
      align-items: center;
      padding-inline: 16px;

      &:hover {
        background-color: lightgrey;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $border-bg-color;
      }

      &-text {
        text-align: right;
        color: $primary-color;

        @include inter-500-16;
      }
    }
  }
}
