{
  "singleQuote": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^(@.*)",
    "^[a-zA-Z]",
    "^\\../(?!(.*\\.(sass|scss|css))).*",
    "^\\./(?!(.*\\.(sass|scss|css))).*",
    "\\.(sass|scss|css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
