.wrapper {
  position: relative;
  height: min-content;

  .sign-in {
    box-sizing: border-box;
    width: $signin-width;
    height: $signin-height;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: $btn-bg-color;
    cursor: pointer;

    @include inter-500-24;

    &:hover {
      border-color: $primary-color;
    }
  }
}
