.t-sign-up {
  margin-inline: 64px;
  margin-top: 130px;
  height: 511px;
  background-color: $regular-gray-color;
  padding-inline: 74px;
  display: flex;
  align-items: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 37px;

    .title {
      margin: 0;

      @include inter-600-40;
    }

    .button {
      padding: 0;
      border: none;
      height: 80px;
      width: 293px;
      border-radius: 8px;

      @include inter-500-24;
    }
  }
}
