.second-part {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 318px;

  .name {
    @include inter-500-20;

    margin: 0;
  }

  .types {
    display: flex;
    gap: 8px;

    .type {
      @include inter-500-12;

      box-sizing: border-box;
      padding: 5px 10px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  
  .bio {
    @include inter-400-14;
  }

  .read {
    @include inter-600-12;
  }
}

:export {
  brownColor: $brown-color;
  darkColor: #333333;
}
