.form-wrapper {
  box-sizing: border-box;
  width: 50vw;
  padding-top: 134px;
  padding-bottom: 56px;

  @include flex-between-center;

  flex-direction: column;

  .form {
    width: 422px;

    &-title {
      text-align: center;
      margin: 0;

      @include inter-500-24;
    }
  }
}
