.login {
  @include input-styles;
  @include inter-600-20;

  background-color: $primary-color;
  color: white;
  width: 100%;
  transition: background-color $trans-dur;
  margin-top: 75px;

  &:hover {
    background-color: gray;
  }
}

.or,
.wrapper {
  margin-top: 24px;
}

.or {
  @include inter-400-16;

  color: $primary-color;
  text-align: center;
}

.wrapper {
  display: flex;
  gap: 8px;

  .button {
    @include input-styles;
    @include flex-center-center;
    @include inter-500-16;

    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
    width: 100%;
    gap: 8px;
    transition: background-color $trans-dur;

    &:hover {
      background-color: lightgrey;
    }
  }
}
