.trainer {
  position: relative;
  padding: 16px;
  width: 100%;
  border: 1px solid $light-gray_4;
  height: 152px;
  border-radius: 8px;

  @include flex-between-center;

  .avatar {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: $light-gray_4;
  }
}
