.format {
  height: 32px;
  border-radius: 100px;

  @include flex-center-center;
  @include inter-500-14;
}

.offline {
  background-color: $black_1;
  color: $white_1;
}

.online {
  background-color: $white_1;
  color: $black_1;
}
