.event,
.img-wrapper {
  border-radius: 16px;
}

.event {
  height: 100%;
  background-color: $white_1;
  border: 1px solid $gray_10;
  padding: 24px;

  .img-wrapper {
    height: 188px;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
  }

  .formats {
    display: flex;
    gap: 15px;
  }

  .intensity {
    height: 32px;
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .title {
    @include wf-visual-500;

    text-transform: uppercase;
  }

  .description {
    @include inter-400-14;

    margin-top: 6px;
  }

  .learn-more {
    @include inter-500-14;

    margin-bottom: 10.5px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

:export {
  gray: $gray_11;
}
