// #region media queries
@mixin on-tablet {
  @media (min-width: 768px) {
    @content;
  }
}
// #endregion

// #region inter
@mixin inter {
  font-family: Inter, sans-serif;
}

// #region inter-400
@mixin inter-400 {
  @include inter;

  font-weight: 400;
}

@mixin inter-400-14 {
  @include inter-400;

  font-size: 14px;
}

@mixin inter-400-16 {
  @include inter-400;

  font-size: 16px;
  line-height: 150%;
}
// #endregion

// #region inter-500
@mixin inter-500 {
  @include inter;

  font-weight: 500;
}

@mixin inter-500-12 {
  @include inter-500;

  font-size: 12px;
}

@mixin inter-500-14 {
  @include inter-500;

  font-size: 14px;
  line-height: 135%;
}

@mixin inter-500-15 {
  @include inter-500;

  font-size: 15px;
  line-height: 100%;
}

@mixin inter-500-16 {
  @include inter-500;

  font-size: 16px;
}

@mixin inter-500-18 {
  @include inter-500;

  font-size: 18px;
  line-height: 135%;
}

@mixin inter-500-20 {
  @include inter-500;

  font-size: 20px;
}

@mixin inter-500-24 {
  @include inter-500;

  font-size: 24px;
}

@mixin inter-500-40 {
  @include inter-500;

  font-size: 40px;
}

@mixin inter-500-48 {
  @include inter-500;

  font-size: 48px;
}
// #endregion

// #region inter-600
@mixin inter-600 {
  @include inter;

  font-weight: 600;
}

@mixin inter-600-12 {
  @include inter-600;

  font-size: 12px;
}

@mixin inter-600-20 {
  @include inter-600;

  font-size: 20px;
}

@mixin inter-600-24 {
  @include inter-600;

  font-size: 24px;
}

@mixin inter-600-30 {
  @include inter-600;

  font-size: 30px;
}

@mixin inter-600-40 {
  @include inter-600;

  font-size: 40px;
}
// #endregion
// #endregion

// #region elements
@mixin input-styles {
  border-radius: 30px;
  box-sizing: border-box;
  border: none;
  padding: 0;
  height: 56px;
  padding-inline: 16px;
}
// #endregion

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
