// #region colors
$primary-color: #0f0f0f;
$btn-bg-color: #e3e3e3;
$border-bg-color: #e1e1e1;
$regular-gray-color: #d9d9d9;
$block-border-color: #717171;
$trainer-gray-color: #dedede;
$placeholder-color: #eaecef;
$placeholder-text-color: #495057;
$text-color: #828282;
$hover-text-color: #4f4f4f;
$gray: gray;
$brown-color: #935F5F;
// #endregion
$signin-height: 32px;
$signin-width: 92px;
$dropdown-width: 265px;
$trans-dur: 200ms;
