// #region colors
$primary-color: #0f0f0f;
$btn-bg-color: #ff5c17;
$btn-bg-color-effect: #dc4200;
$border-bg-color: #e1e1e1;
$regular-gray-color: #d9d9d9;
$block-border-color: #717171;
$trainer-gray-color: #dedede;
$placeholder-color: #eaecef;
$placeholder-text-color: #495057;
$text-color: #828282;
$hover-text-color: #4f4f4f;
$gray: gray;
$brown-color: #935f5f;
$button-gray-color: #949090;
$dropdown-hover-color: #f3f3f3;
// #endregion
$signin-height: 48px;
$signin-width: 128px;
$dropdown-width: 232px;
$trans-dur: 200ms;
