.wrapper {
  --block-height: 297px;
  --gap: 32px;

  @include on-tablet {
    --block-height: 250px;
  }

  margin-top: 32px;
  transition: height 500ms;
  overflow: hidden;
  gap: var(--gap);
  align-content: start;

  &,
  .first-part,
  .block {
    display: flex;
    flex-direction: column;
  }

  @include on-tablet {
    margin-top: 48px;
  }

  @include on-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }

  .block {
    height: var(--block-height);
    padding: 24px;
    border-radius: 16px;
    background-color: $gray_11;
    justify-content: space-between;

    .first-part {
      .img-wrapper {
        width: 102px;
        height: 102px;
        background-color: $white_1;
        border-radius: 16px;
        border: 1px solid $light-blue_1;
      }

      @include on-tablet {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .sport-name {
      @include ermilov-24;

      @include on-tablet {
        font-size: 32px;
      }
    }
  }
}
