@font-face {
  font-family: Ermilov;
  src: url(/fonts/Ermilov-bold.woff);
}

@font-face {
  font-family: 'WF Visual Sans';
  src: url(/fonts/WFVisualSansVF.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
}
