@import 'tailwindcss';

@theme {
  /* Breakpoints */
  --breakpoint-sm: 576px; /* on-small-tablet */
  --breakpoint-md: 768px; /* on-tablet */
  --breakpoint-2md: 864px; /* on-large-tablet */
  --breakpoint-3md: 992px; /* on-extra-large-tablet */
  --breakpoint-lg: 1024px; /* on-small-desktop */
  --breakpoint-xl: 1200px; /* on-desktop */
  --breakpoint-2xl: 1367px; /* on-large-desktop */

  /* Colors */
  --color-dark: #0f0f0f;

  --color-gray-900: #333333;
  --color-gray-800: #495057;
  --color-gray-700: #4f4f4f;
  --color-gray-600: #717171;
  --color-gray-500: #828282;
  --color-gray-400: gray;
  --color-gray-300: #949090;
  --color-gray-200: #a9a9b0;
  --color-gray-100: #c8c9cd;

  /* --color-white: #fff; */
  --color-bg-main: #f5f6fa;
  --color-bg-soft: #f3f3f3;

  --color-ui-gray-500: #d9d9d9;
  --color-ui-gray-400: #dcdddf;
  --color-ui-gray-300: #dedede;
  --color-ui-gray-200: #e1e1e1;
  --color-ui-gray-100: #eaecef;

  --color-blue-light: #dde8ff;
  --color-blue-soft: #bad1ff;

  --color-primary: #0c6ad8;
  --color-danger: #dc4200;
  --color-accent: #ff5c17;
  --color-brown-muted: #935f5f;

  /* Font Sizes */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-15: 15px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-32: 32px;
  --text-4xl: 40px;
  --text-5xl: 48px;
  --text-6xl: 56px;
}

:root {
  --dropdown-width: 232px;

  @media (width >= 768px) {
    --dropdown-width: 265px;
  }
}

body {
  background-color: var(--color-bg-main);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
form {
  margin: 0;
}

button,
ul,
input {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}
