.fourth-part {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;

  .reviews {
    display: flex;
    gap: 8px;

    .number {
      @include inter-400-14;
    }
  }

  .signup {
    @include flex-center-center;
    @include inter-500-16;

    padding: 0;
    border-style: none;
    background-color: $button-gray-color;
    color: #fff;
    width: 178px;
    height: 48px;
    border-radius: 8px;
  }
}
