// don't forget about cleaning code from unnecessary vars

// #region colors
$black_1: #0f0f0f;

$gray_1: #717171;
$gray_2: #495057;
$gray_3: #4f4f4f;
$gray_4: gray;
$gray_5: #828282;
$gray_6: #949090;
$gray_7: #c8c9cd;
$gray_8: #a9a9b0;
$gray_9: #333333;
$gray_10: #dcdddf;
$gray_11: #f5f6fa;

$white_1: #fff;
$white_2: #f5f6fa;
$white_3: #f3f3f3;

$light-gray_1: #e1e1e1;
$light-gray_2: #eaecef;
$light-gray_3: #d9d9d9;
$light-gray_4: #dedede;

$light-blue_1: #dde8ff;
$light-blue_2: #BAD1FF;

$blue_1: #0c6ad8;

$red_1: #dc4200;

$orange_1: #ff5c17;
$orange_2: #ff7532;

$brown_1: #935f5f;

// #endregion

$signin-height: 48px;
$signin-width: 128px;

$nav-button-height: 24px;

$trans-dur: 200ms;
