:root {
  --dropdown-width: 232px;

  @include on-tablet {
    --dropdown-width: 265px;
  }
}

body {
  background-color: $white_2;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
form {
  margin: 0;
}

button,
ul,
input {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}
